.footer {
	background-color: $color-bordo;
	padding: 53px 0px 85px;
	position: relative;
}
.container {
}
.footer__inner {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	max-width: 810px;
	margin: 0 auto;
}
.footer__item {
}
.footer__title {
	font-size: 15px;
	font-weight: 700;
	line-height: 1.33;
	color: $color-white;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.footer__list {
	li {
		margin-bottom: 10px;
	}
}

.footer__connect {
	li {
		&:nth-child(1) {
			background: url(../images/footer__icon-1.svg) no-repeat left;
		}
		&:nth-child(2) {
			background: url(../images/footer__icon-2.svg) no-repeat left;
		}
		&:nth-child(3) {
			background: url(../images/footer__icon-3.svg) no-repeat left;
		}
		&:nth-child(4) {
			background: url(../images/footer__icon-4.svg) no-repeat left;
		}
		&:nth-child(5) {
			background: url(../images/footer__icon-5.svg) no-repeat left;
		}
	}
	& .footer__link {
		padding-left: 30px;
	}
}

.footer__link {
	line-height: 1.33;
	color: #fff;
	display: block;
	transition: all 0.3s linear 0s;
	&:hover {
		opacity: 0.6;
	}
}

.scroll-up {
	position: fixed;
	bottom: 50px;
	right: -120%;
	opacity: 0;
	width: 43px;
	height: 43px;
	background: #fff;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 2px 3px 5px 0 rgba(0, 1, 1, 0.2);
	z-index: 2;
	transition: all 0.5s linear 0s;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	&.show {
		right: 20px;
		opacity: 1;
	}
}

@media (max-width: 767px) {
	.footer {
		padding: 50px 0px;
	}
	.footer__item {
		width: 50%;
		margin-bottom: 40px;
	}
}

@media (max-width: 576px) {
	.footer {
		padding: 20px 0px 0px;
	}
	.footer__inner {
		flex-direction: column;
	}
	.footer__item {
		margin-bottom: 20px;
		width: 100%;
	}
	.scroll-up {
		bottom: 18px;
	}
}
