.reason {
	padding: 100px 0px;
}
.reason__row-top {
	margin-bottom: 140px;
}
.block__row {
	display: flex;
	justify-content: space-between;
}
.reason__title {
	font-size: 32px;
	color: $color-title;
	font-family: "Georgia";
}
.reason__block {
	max-width: 536px;
}
.reason__text {
	line-height: 1.75;
	font-size: 16px;
}
.reason__link {
	line-height: 1.75;
	font-size: 16px;
	color: $color-bordo;
	font-weight: 700;
	transition: all 0.3s linear 0s;
	&:hover {
		opacity: 0.7;
	}
}
.reason__stat {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.reason__item {
	text-align: center;
	width: 25%;
}
.reason__logo {
	margin-bottom: 30px;
}
.reason__info {
}
.reason__num {
	font-weight: 700;
	font-size: 22px;
	line-height: 1.36;
	color: $color-title;
	margin-bottom: 5px;
}
.reason__type {
	color: $color-text;
	font-weight: 700;
}

@media (max-width: 900px) {
	.reason {
		padding: 50px 0px;
	}
	.reason__title {
		margin-bottom: 20px;
	}
	.block__row {
		flex-direction: column;
		align-items: center;
	}
	.reason__row-top {
		margin-bottom: 60px;
	}
}

@media (max-width: 767px) {
	.reason__stat {
		justify-content: flex-start;
	}
	.reason__item {
		width: 33.333%;
		margin-bottom: 50px;
		&:last-child {
			margin: 0;
		}
	}
}

@media (max-width: 577px) {
	.reason__item {
		width: 50%;
		&:nth-child(3) {
			margin: 0;
		}
	}
	.reason__logo {
		margin-bottom: 20px;
	}
}

@media (max-width: 375px) {
	.reason__item {
		width: 100%;
		&:nth-child(3) {
			margin-bottom: 30px;
		}
	}
}
