/* Слайдер */
.slick-slider {
}
/* Слайдер запущен */
.slick-slider.slick-initialized {
}
/* Слайдер с точками */
.slick-slider.slick-dotted {
}
/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;
}
/* Лента слайдов */
.slick-track {
	display: flex;
}
/* Слайд */
.slick-slide {
}
/* Слайд активный (показывается) */
.slick-slide.slick-active {
}
/* Слайд основной */
.slick-slide.slick-current {
}
/* Слайд по центру */
.slick-slide.slick-center {
}
/* Клонированный слайд */
.slick-slide.slick-cloned {
}
/* Стрелка */
.slick-arrow {
}
/* Стрелка влево */
.slick-arrow.slick-prev {
}
/* Стрелка вправо */
.slick-arrow.slick-next {
}
/* Стрелка не активная */
.slick-arrow.slick-disabled {
}
/* Точки (булиты) */
.slick-dots {
	display: flex;
	justify-content: center;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 50px;
	& li {
		margin-right: 10px;
		&:last-child {
			margin: 0;
		}
	}
}
/* Активная точка */
.slick-dots li.slick-active button {
	background-color: red;
	border-color: blue;
}
/* Элемент точки */
.slick-dots li button {
	font-size: 0;
	display: block;
	width: 15px;
	height: 15px;
	background-color: transparent;
	border-radius: 50%;
	border: 2px solid $white;
	&:focus {
		outline: none;
	}
}
