@import "_reset.scss";
@import "_normalize.scss";
@import "_fonts.scss";
@import "_vars.scss";

body {
	font-family: "Lato", sans-serif;
	color: $color-text;
	font-size: 14px;
}

.wrapper {
	overflow: hidden;
}

.container {
	max-width: 1000px;
	padding: 0px 15px;
	margin: 0 auto;
}

@import "_header.scss";
@import "_intro.scss";
@import "_reason.scss";
@import "_about.scss";
